@import "./vars";

.containter-cart {
  display: flex;
  height: 100vh;
  position: absolute;
  top: 79px;
  right: 0px;
  background: $--white;
  padding: 20px;
  border: 1px solid $--very-light-pink;
  border-radius: 6px;
  position: fixed;
  transition: 1s ease;
  animation: swipeLeft 1s ease forwards;
  z-index: 1;
}

.my-order-cart {
  display: flex;
  place-items: flex-start;
  justify-content: center;
}

.container-arrow-cart {
  display: flex;
  align-items: center;
}

.arrow-cart {
  width: 25px;
  margin-right: 14px;
  margin-bottom: 22px;
  cursor: pointer;
}

.h2-cart {
  font-size: $--lg;
}

.scroll-container-cart {
  height: 360px;
  overflow-y: scroll;
}

.my-order-container-cart {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 360px;
}

.total-container-cart {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: $--text-input-field;
  border: none;
  border-radius: 8px;
  padding: 8px;
  margin: 12px 0 12px 0;
  text-align: center;
}

.total-container-cart p {
  margin: 0;
}
.my-order-content {
  display: flex;
  justify-content: space-between;
  background: $--text-input-field;
  margin-bottom: 24px;
  margin-top: 12px;
  border-radius: 15px;
  padding: 0 24px;
  align-items: center;
}

.date-cart,
.price-cart {
  font-weight: bold;
}

.item-cart {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  margin-bottom: 12px;
  margin-right: 8px;
}

.item-title-cart {
  font-size: $--sm;
  margin: 0 8px 0 8px;
}

.item p:nth-child(2) {
  color: $--very-light-pink;
  font-size: $--sm;
  text-align: center;
}

.valor-cart {
  font-weight: bold;
}

.img-cart {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  margin-right: 12px;
  object-fit: cover;
}

.delete-cart {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  cursor: pointer;
}

.container-valor-cart {
  display: flex;
  align-items: center;
}

.checkout-button {
  background-color: $--hospital-green;
  border-radius: 8px;
  border: none;
  color: $--white;
  width: 100%;
  cursor: pointer;
  font-size: $--md;
  font-weight: bold;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
.add-to-cart {
  display: flex;
  align-items: center;
  justify-content: center;
}
*/